body {
height: 100%;
margin: 0;
padding: 0;
background: black;
background-image: url("i/bg.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
color: #fff;
font-family: 'Open Sans', sans-serif;
font-size: 15px;
letter-spacing: 2px;
-webkit-user-select: none; /* Safari/Chome no selection */
-webkit-touch-callout: none; /* Safari no selection */
-moz-user-select: none; /* Mozilla no selection */
-ms-user-select: none; /* IE 10 and IE 11 no selection */
user-select: none; /* Standard syntax no selection */
}

@media (min-width: 400px) {
.profile {
width: 75%;
}
}

@media (max-width: 767px) {
.profile {
width: 400px;
}
}

.top {
padding-top: 50px;
}

.profile {
margin-left: auto;
margin-right: auto;
margin-top: 0;
margin-bottom: 0;
background-color: rgba(0, 0, 0, 0.8);
box-sizing: border-box;
padding-left: 20px;
padding-right: 20px;
border: 2px solid white;
border-top: 0px;
border-bottom: 0px;
text-align: center;
height: 100%;
overflow-y: scroll;
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.profile::-webkit-scrollbar {
  display: none;
}

.logo {
display: block;
margin-left: auto;
margin-right: auto;
height: 150px;
max-width: 150px;
border-radius: 50%;
}

.profile-name {
font-size: 30px;
font-weight: bold;
padding: 20px;
}

.marker-icon { 
height: 15px;
filter: invert(100%);
}

.profile-short {
line-height: 1.5;
padding-bottom: 20px;
}

.icons { 
height: 44px;
filter: invert(100%);
padding-right: 5px;
padding-left: 5px;
}

.icons:hover { 
height: 44px;
filter: invert(50%);
padding-right: 5px;
padding-left: 5px;
}

.links {
margin-top: 20px;
padding: 20px;
border: 1px solid white;
border-width: 2px;
width: 250px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 25px;
background-color: rgba(0, 0, 0, 0.3);
}

a {
text-decoration: none;
color: white;
transition: color 1s;
}

.links:hover {
color: #fff;
border-color: rgba(187, 187, 187, 0.3);
background-color: rgba(187, 187, 187, 0.3);
}

.services {
margin-top: 10px;
padding: 10px;
border: 1px solid white;
border-width: 2px;
width: 300px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 25px;
background-color: rgba(0, 0, 0, 0.3);
}


/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
	text-align: center;
}

@media (min-width: 400px) {
.slideshow-container {
width: 450px;
}
}

@media (max-width: 767px) {
.slideshow-container {
width: 400px;
}
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: -23px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
	
	/* Position the "prev button" to the right */
.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: grey;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.bottom {
padding-bottom: 50px;
}